:root {
  --font-name: 'monospace';
  --font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: var(--font-name);
  font-size: var(--font-size);
}
#app {

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-width: 100%;
  overflow: hidden;
}

canvas {
  max-width: 100%;
}